<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Categorias</title>

  <link rel="stylesheet" href="/public/stylesheets/admin.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/hf.css">
    
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&family=Saira+Stencil+One&display=swap"
      rel="stylesheet">

  <style>
    .titulo h1 {
      text-align: center;
      margin-bottom: 20px;
      font-family: 'Times New Roman', Times, serif;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: start;
      margin-top: 20px;
      margin-bottom: 20px;
      align-items: center;
      height: 150vh;
      /* Ajusta la altura según tus necesidades */
      background-color: rgb(122, 128, 182);

    }

    th {
      font-family: Arial, sans-serif;
      font-size: 16px;
      font-weight: bold;
      display: flexbox;
      justify-content: center;
      color: black;
    }

    table {
      width: 58%;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 10px;
      text-align: left;
      font-family: 'Times New Roman', Times, serif;
      color: white;
    }

    th {
      background-color: rgb(46, 19, 199);
    }

    tr {
      background-color: rgb(110, 58, 145);
    }

    body {
      background-color: #291d1d;
      font-family: 'Times New Roman', Times, serif;
    }

    h1 {
      color: white;
    }

    footer {
      width: 750px;
      border: solid 1px;
      border-color: rgb(28, 16, 70);
    }

    address {
      padding-top: 15px;
      font-family: 'Times New Roman';
      text-align: center;
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <h1>Flashfotografy</h1>
        <a class="navbar-brand" href="#"><strong>Pagina de Categorias</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container-fluid">

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link btn btn-outline-primary" href="/report">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-outline-primary" href="/productos">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-outline-primary" href="/imagenes">Imagenes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-outline-primary" href="/tablaclientes">Clientes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-outline-primary" href="/tablacompras">Facturas</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <button data-mdb-ripple-init type="button" class="btn btn-primary me-3">
            <a class="nav-link btn btn-outline-primary" href="/logout">Log Out</a>
          </button>
        </div>
      </div>
    </nav>

  </header>

  <div class="container">
    <div class="titulo">
      <h1>Listado de Categorias
      </h1>
    </div>

    <table border="2">
      <!-- <caption>Categorias</caption> -->
      <tr>
        <th>
          <p>N°</p>
        </th>
        <th>
          <p>Nombre</p>
        </th>
        <td><a class="btn btn-success" href="/ctgagg">Agregar</a></td>
      </tr>
      <tr>
        <% if (categorias) { %>
        <% for (let i=0; i < categorias.length; i++){ %>
        <% if (categorias) { %>
        <td>
          <%= (i + 1) %>
        </td>
        <td>
          <%= categorias[i].nombre %>
        </td>
        <td>
          <a href="/ctgdelete/<%= categorias[i].id%>" class="btn btn-sm btn-danger">Eliminar</a>
          <a href="/ctgedit/<%= categorias[i].id%>" class="btn btn-sm btn-warning">Actualizar</a>
        </td>
      </tr>
      <% } %>
      <% } %>
      <% } else { %>
      <tr>
        <th class="display-6">No hay categorias en el sistema</th>
      </tr>
      <% } %>
      </tr>
    </table>
    <%- include('footer') -%>
  </div>





  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>

</html>