<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Editar Producto</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #291d1d;
    }

    .container {
      max-width: 400px;
      padding: 20px;
      background-color: rgb(182, 136, 122);
      border: 2px solid rgb(41, 3, 3);
      border-radius: 5px;
      text-align: center;
    }

    h3 {
      margin-top: 0;
      font-size: 24px;
      color: orangered;
      font-weight: bold;
    }

    h4 {
      border: 2px solid orangered;
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0;
    }

    input[type="text"],
    input[type="number"],
    textarea {
      padding: 10px;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      height: 40px;
      box-sizing: border-box;
      border: 2px solid orangered;
      border-radius: 5px;
      outline: none;
    }

    button {
      padding: 10px;
      margin-top: 10px;
      background-color: orangered;
      color: white;
      border: none;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
    }

    a {
      padding: 10px;
      margin-top: 10px;
      background-color: rgb(250, 213, 200);
      color: black;
      border: none;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
    }

    button:hover {
      background-color: darkorange;
    }

    footer {
      width: 395px;
      margin-top: 10px;
      text-align: center;
    }

    address {
      font-family: 'Times New Roman';
    }
  </style>
</head>

<body>
  <div class="container">
    <form action="/updateprd/<%= productos.id %>" method="post">
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="<%= productos.nombre %>" required maxlength="25" minlength="3" />
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="codigo">Codigo</label>
        <input type="number" name="codigo" id="codigo" value="<%= productos.codigo %>" required />
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="precio">Precio</label>
        <input type="number" name="precio" id="precio" value="<%= productos.precio %>" required />
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="marca">Marca</label>
        <input type="text" name="marca" id="marca" value="<%= productos.marca %>" required maxlength="25" minlength="4" />
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="tono">Tono</label>
        <input type="text" name="tono" id="tono" value="<%= productos.tono %>" required />
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="descripcion">Descripcion</label>
        <input type="text" name="descripcion" id="descripcion" value="<%= productos.descripcion %>" maxlength="100" minlength="10"/>
      </div>

      <div class="col-form-label col-sm-15">
        <button type="submit" class="btn btn-primary">
          Actualizar Producto
        </button>
        <a class="btn btn-outline-dark cancel" href="/productos">Cancelar</a>
      </div>
    </form>
    <%- include('footer') -%>
  </div>
</body>

</html>

